.border-box{
    border: 5px;
    border-style: double;
    border-color: black;
    padding: 2em;
    margin: 5em;
}

.border-box2 {
    border: 2px;
    border-style: solid;
    border-color: black;
    margin: 5em;
    padding: 2em;
}

.ml-sb {
    padding-left: 4em;
}